<div class="jumbotron">
    Prueba Sterling
</div>

<div id="exTab3" class="container">
    <ul class="nav nav-pills">
        <li class="active">
            <a href="#1b" data-toggle="tab">Lista Ciudadanos</a>
        </li>
        <li>
            <a href="#2b" data-toggle="tab">Formulario</a>
        </li>


    </ul>

    <div class="tab-content clearfix">
        <div class="tab-pane active" id="1b">
            @Html.Partial("PV_ListaCiudadanos")
        </div>
        <div class="tab-pane" id="2b">
            @Html.Partial("PV_Formulario")

        </div>


    </div>
</div>

