<form id="formRegistrarCiudadano" method="post">

    <div class="btn-group">
        <input type="text" class="form-control" placeholder="Nombre" id="inputNombre" required />
        <input type="text" class="form-control" placeholder="Apellido" id="inputApellido" required />
        <input type="text" class="form-control" placeholder="Apellido" id="inputDireccion" required />
        <input type="text" class="form-control" placeholder="Apellido" id="inputOcupacion" required />
        <input type="text" class="form-control" placeholder="Apellido" id="inputNacionalidad" required />
        <input type="text" class="form-control" placeholder="Cedula" id="inputCedula" required />
        <input type="text" class="form-control" placeholder="Cedula" id="inputPiel" required />
        <select id="listRegionales" class="form-control"></select>
        <select id="listDistritos" class="form-control"></select>
        <input type="submit" name="btn btn-primary" id="btnCreateCiudadano" />
    </div>
</form>
