<div class="row">
    <div class="col-xm-12">
        <table id="tablaCiudadanos" class="table display table-bordered table-condensed table-hover table-responsive table-striped">
            <thead>
                <tr>
                    <th>nombre</th>
                    <th>apellido</th>
                    <th>direccion</th>
                    <th>ocupacion</th>
                    <th>nacionalidad</th>
                    <th>cedula</th>
                    <th>piel</th>
                </tr>

            </thead>
            <tbody></tbody>
        </table>
    </div>

</div>

